@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    
* { 
    box-sizing: border-box; 
	margin: 0;
	padding: 0;
	font-weight: 100;
	font-family: 'Montserrat', sans-serif;
}
body {
    position: relative;
}
.border {
	border: 1px solid red;
}
.bold {
	font-weight: bold;
}
.mb {
	margin-bottom: 10px;
}
.display-center {
	display: grid;
	place-content: center;
}
.pos-rel {
	position: relative;
}
.pos-abs {
	position: absolute;
	top: 0;
	min-height: 100vh;
	width: 100vw;
	z-index: 100;
	background:rgba(0, 0, 0, 0.364);
}
.tc {
	text-align: center;
}
.font {
    font-size: 20px;
}
.semi-visible {
	color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
}
.w {
	width: 90vw;
}
.w-sm {
	width: 60vw;
}
.w-md {
	width: 75vw;
}
.grid-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}
.flex {
	display: flex;
}
.flex-col {
	flex-direction: column;
}
.a-center {
	align-items: center;
}
.j-between {
	justify-content: space-between;
}
.j-center {
	justify-content: center;
}
.p-bot {
	padding-bottom: 10px;
}

/*//* Components */
.btn {
	border-radius: 5px;
	width: 100%;
	border: none;
}
.btn-2 {
	border-radius: 5px;
	padding: 0 20px;
	border: none;
}
.btn-md {
	height: 35px;
	font-size: 15px;
}
.btn-lg {
	height: 45px;
	font-size: 20px;
}
.msg {
	font-size: 15px;
	height: 35px;
	border-radius: 5px;
}
.primary {
	background: #337ab7;
	color: white;
}
.primary:hover {
    background: #286090;
	cursor: pointer;
}
.delete {
	background: rgba(203, 32, 32, 0.75);
	color: white;
}
.delete:hover {
	background: rgba(203, 32, 32, 0.9);
	cursor: pointer;
}
.warning {
	background: #ffad4256;
	color: rgba(165, 42, 42, 0.752);
}
.success {
	background: #5cb85cb4;
	color: white;
}
.error {
    color: white;
    background: rgba(203, 32, 32, 0.5);
}
input {
	height: 35px;
	border: 1px solid #337ab7;
	border-radius: 5px;
	outline: none;
	padding: 0 20px;
	width: 100%;
	text-align: center;
	font-size: 18px;
}
/*//* Table */
.tbl-wrap {
	overflow: auto;
    max-height: 515px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5); 
    margin-bottom: 20px;
}
table .thead {
    background: #c9dad8;
    color: rgb(61,61,61);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
}
.thead-des {
    padding: 15px;
    text-align: left;
}
table .tbody {
    background: #fcfcfc;
    color: rgb(61,61,61);
}
.tbody-des {
    padding: 15px 15px 0;
    text-align: left;
}

/*//* css modal */

#modal {
	display: none;
}
.add-user {
	background: white;
	height: auto;
	width: 40%;
	padding: 30px;
	margin: 100px auto;
	border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5); 
	position: relative;
}
.add-user .close {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 10px;
	top: 10px;
}
.textarea {
	border: 1px solid #337ab7;
	border-radius: 5px;
	outline: none;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.textarea:focus {
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/*//* All media queries */
@media only screen and (max-width: 400px) {
	.add-user {
		margin: 75px auto;
		width: 320px;
	}
}

@media only screen and (max-width: 350px) {
	.add-user {
		margin: 50px auto;
		width: 300px;
	}
}